/* HTML style-related code for EasyLink project*/

.hidden {
  display: none;
}

#edit-form, #add-form {
  position: fixed;
  bottom: 0;
  right: 15px;
}

.search {
  position: absolute;
  top: 20%;
  left: 20%;
  height: 400px;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.searchTerm {
  width: 80%;
  border: 3px solid #3498DB;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

.searchbar input {
  display: inline;
}

.searchbar button {
  width: 10%;
  background-color: #3498DB ;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

button {
  background-color: #3498DB ;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #056EB4;
}

.redirectButton {
  position: absolute;
  top: 20px;
  right: 20px;
}

.center {
  text-align: center;
}

.table-container {
  position: absolute;
  top: 10%;
  left: 10%;
}

#link-container {
  border-collapse: collapse;
  width: 100%;
}

#link-container td, #link-container th {
  border: 1px solid #ddd;
  padding: 5px;
}

#link-container tr:nth-child(even) {
  background-color: #f2f2f2;
}

#link-container tr:hover {
  background-color: #ddd;
}

#link-container th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #056EB4;
  color: white;
}

#authorizeButton, #signoutButton {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

#map {
  height: 600px;
  width: 1000px;
  left: 15%;
}

#navigationBody {
  height:100%;
}